{{!< ../layout}}

<h3>Create a post function with Atlassian Connect</h3>

<p>To create a post function with configuration, you need a code snippet that contains the url of the configuration page (this one)</p>

<pre><code>
"create": {
      "url": "/create"
}
</code></pre>

<p>This can contain a form or any other configuration elements, which are then saved to the Connect add-on using the Javascript API.</p>

<pre><code>
AP.require(["jira"], function(jira) {
  // When the configuration is saved, this method is called. Return the values for your input elements.
  jira.WorkflowConfiguration.onSave(function() {
    var config = {
        "colour": "blue",
        "amount": 4
    }
    return JSON.stringify(config);
  });

  // Validate any appropriate input and return true/false
  jira.WorkflowConfiguration.onSaveValidation(function() {
    return true;
  });
});
</code></pre>

